//
// Styles
// ---------------------------

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic,100italic,100);
@import "normalize";
@import "variables";
@import "extends";

body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 100;
    color: rgba(black, .8);
    background-color: #eee;
    user-select: none;
}

html, body {
    overflow: hidden;
}

#canvas {
	cursor: none !important;
}